<h1>
    关于我们
</h1>
<div>{{aboutData}}</div>
<a href="/contact">百度</a>
<div>{{cookie}}</div>
<h2>Welcome to Meadowlark Travel!</h2>
{{> weather}}
<script>
    document.cookie = "islogin=no";
</script>